body {
  margin: 0;
  padding: 0;
}

.summary {
  position: relative;
  margin: 0px auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-align: center;
}

.box {
  margin: 0 auto;
  height: 500px;
  width: 99.99%;
  padding: 5px;
}

#div1 {
  float: left;
  height: 100%;
  width: 48%;
}

#div2 {
  float: right;
  height: 100%;
  width: 48%;
}

#div3 {
  float: left;
  height: 100%;
  width: 33.33%;
  margin: 50px auto;
}

#div4 {
  float: left;
  height: 100%;
  width: 33.33%;
  margin: 50px auto;
}

#div5 {
  float: left;
  height: 100%;
  width: 33.33%;
  margin: 50px auto;
}

#mapid {
  margin: 50px auto;
  width: 99.9%;
  height: 100%;
}

#clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

#background {
  margin: 0px auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#left{
  text-align: left;
}