body {
  margin: 0;
  padding: 0;
}

#title {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  padding: 25px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.summary {
  position: relative;
  margin: 0px auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.box {
  margin: 0 auto;
  height: 500px;
  width: 99.99%;
  padding: 5px;
}

#div1 {
  float: left;
  height: 100%;
  width: 48%;
  z-index: 0;
}

#div2 {
  float: right;
  height: 100%;
  width: 48%;
  z-index: 0;
}

#div3 {
  float: left;
  height: 100%;
  width: 33.33%;
  margin: 50px auto;
  z-index: 0;
}

#div4 {
  float: left;
  height: 100%;
  width: 33.33%;
  margin: 50px auto;
  z-index: 0;
}

#div5 {
  float: left;
  height: 100%;
  width: 33.33%;
  margin: 50px auto;
  z-index: 0;
}

#mapid {
  margin: 50px auto;
  width: 99.9%;
  height: 100%;
  z-index: 0;
}

#clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

#background {
  margin: 0px auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#left {
  text-align: left;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
